node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Блокируем реальные изображения документов
files/*
# Но разрешаем тестовые изображения
!files/imgPhoto.jpg
!files/imgPassport.jpg
!files/001/