node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Блокируем реальные изображения документов
files/*
# Но разрешаем тестовые изображения и папки пользователей
!files/imgPhoto.jpg
!files/imgPassport.jpg
!files/001/
!files/002/
!files/003/
!files/004/
!files/005/
!files/006/
!files/007/
!files/008/
!files/009/
!files/010/